[scraping]
rate_limit_ms = 1000
timeout_seconds = 30
max_retries = 3
user_agent = "RustScraperPro/1.0"
follow_robots_txt = true

[api]
port = 3000
host = "127.0.0.1"
cors_origins = ["http://localhost:3000", "http://127.0.0.1:3000"]

[database]
type = "sqlite"
path = "scraped_data.db"
# connection_string = "postgres://user:pass@localhost/scraped_data"  # for postgres

[cache]
memory_max_items = 1000
memory_ttl_seconds = 3600
file_cache_dir = "cache/html"
enable_file_cache = true

[[sources]]
name = "Hacker News"
url = "https://news.ycombinator.com"
type = "news"
rate_limit_ms = 2000

[sources.selectors]
container = ".athing"
title = ".titleline > a"
content = ".subtext"
author = ".hnuser"

[[sources]]
name = "Example E-commerce"
url = "https://httpbin.org/html"
type = "ecommerce"
rate_limit_ms = 1000

[[sources]]
name = "Twitter"
url = "https://twitter.com"
type = "social"
rate_limit_ms = 5000

[[sources]]
name = "Reddit"
url = "https://reddit.com"
type = "social"
rate_limit_ms = 3000